@model IEnumerable<LibroHub.Application.LibroHub.LibroHubDto>


@{
    ViewData["Title"] = "Your library";
}

<div>
    <h1 class="display-4 text-primary">Welcome to Your library!</h1>
    <h4>Add books using the button below</h4>

</div>

<p>
    <a asp-action="Create" class="btn btn-secondary">Add book</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        @if (item.IsEditable)
        {
            <div class="card m-4" style="width: 20rem;">
                <div class="card-body">
                    <h3 class="card-title">@item.Name</h3>
                    <p class="card-text">@item.Author</p>
                    <p class="card-text">@item.Rating/10</p>
                    <a class="btn btn-primary" asp-controller="LibroHub" asp-action="Details" asp-route-encodedName="@item.EncodedName">Details</a>
                    <a class="btn btn-outline-secondary " asp-controller="LibroHub" asp-action="Edit" asp-route-encodedName="@item.EncodedName">Edit</a>
                    <a class="btn btn-danger" asp-controller="LibroHub" asp-action="Delete" asp-route-encodedName="@item.EncodedName">Delete</a>
                </div>
            </div>
        }
    }
</div>

